name: CSMS Workflow

on: [workflow_dispatch, push, pull_request]

jobs:
  prettify-and-lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Fetch repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Format code
        run: npm run format
      - name: Run eslint
        run: npm run lint
  test-client:
    needs: prettify-and-lint
    runs-on: ubuntu-latest
    steps:
      - name: Fetch repository
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test